In [ ]:
Descriptive Statistics - Measures of Central Tendency and variability
Perform the following operations on any open source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for
a dataset (age, income etc.) with numeric variables grouped by one of the qualitative
(categorical) variable. For example, if your categorical variable is age groups and
quantitative variable is income, then provide summary statistics of income grouped by
the age groups. Create a list that contains a numeric value for each response to the
categorical variable.
2. Write a Python program to display some basic statistical details like percentile, mean,
standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Irisversicolor’ of iris.csv dataset.
Provide the codes with outputs and explain everything that you do in this step.

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('C:/Users/jyoti/Documents/Engineering Third Year/DSBDAL/datasets/Titanic-Dataset.csv')

In [6]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
summary_stats = df.groupby('Sex')[['Age', 'Fare']].describe()
print(f"\nSummary statitics for 'Age' and 'Fare' grouped by 'Sex':\n{summary_stats}")

Summary statitics for 'Age' and 'Fare' grouped by 'Sex':
          Age                                                       Fare  \
        count       mean        std   min   25%   50%   75%   max  count
Sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0  314.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0  577.0


             mean        std   min        25%   50%    75%       max
Sex
female  44.479818  57.997698  6.75  12.071875  23.0  55.00  512.3292
male    25.523893  43.138263  0.00   7.895800  10.5  26.55  512.3292

In [9]:
survivors = df[df['Survived'] == 1]
non_survivors = df[df['Survived'] == 0]

survivors_stats = survivors [['Age', 'Fare']].describe()
non_survivors_stats = non_survivors[['Age', 'Fare']].describe()

print(f"\nBasic Statistics for Survivors:\n{survivors_stats}")
print(f"\nBasic Statistics for non-survivors:\n{non_survivors_stats}")

Basic Statistics for Survivors:
              Age        Fare
count  290.000000  342.000000
mean    28.343690   48.395408
std     14.950952   66.596998
min      0.420000    0.000000
25%     19.000000   12.475000
50%     28.000000   26.000000
75%     36.000000   57.000000
max     80.000000  512.329200

Basic Statistics for non-survivors:
              Age        Fare
count  424.000000  549.000000
mean    30.626179   22.117887
std     14.172110   31.388207
min      1.000000    0.000000
25%     21.000000    7.854200
50%     28.000000   10.500000
75%     39.000000   26.000000
max     74.000000  263.000000

In [3]:
import seaborn as sns
iris = sns.load_dataset('iris')

In [4]:
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
setosa_stats = iris[iris['species'] == 'setosa'].describe()
versicolor_stats = iris[iris['species'] == 'versicolor'].describe()
virginica_stats = iris[iris['species'] == 'virginica'].describe()

print(f"Summary Stats for 'Iris-setosa':\n{setosa_stats}")
print(f"Summary Stats for 'Iris-versicolor':\n{versicolor_stats}")
print(f"Summary Stats for 'Iris-verginica':\n{virginica_stats}")

Summary Stats for 'Iris-setosa':
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000
Summary Stats for 'Iris-versicolor':
       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000
Summary Stats for 'Iris-verginica':
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000